@model LAB02_1070720_1084120.Models.Farmacos

@{
    ViewData["Title"] = "FinPedido";
}

<h1>Su compra ha sido exitosa</h1>
<p>Hemos guardado su pedido y usted ha realizado su compra </p>

<div class="btn-group" role="group">
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">
        Regresar a menu principal
    </a>
</div>
