@model IEnumerable<LAB02_1070720_1084120.Models.Farmacos>

@{
    ViewData["Title"] = "Farmacos";
}

<h1>Hola</h1>


@*<a asp-action="CrearJugador" class="btn btn-outline-info " role="button">Crear Nuevo Jugador</a>*@

