@{
    ViewData["Title"] = "Importar CSV";
}

<div class="btn-group" role="group">
    <a asp-controller="Farmacos" asp-action="ImportarCSV"
       class="btn btn-primary">
        Importar Archivo CSV
    </a>
</div>
